# build & deps
node_modules/
bin/
obj/
dist/

# installers, images, archives (rất nặng)
**/install/
**/images/
*.tgz
*.tar.gz
*.zip
*.7z
*.map
*.min.js
*.bundle.js

# reports
_reports/
*.sarif
*.json

# binaries & temps & secrets
*.dll
*.so
*.dylib
*.lib
*.exp
*.swp
*.icloud
*.pem

# OS/editor
.DS_Store
Thumbs.db
*.bak
alerts.csv
code_scanning_alerts.csv
codacy-cli.log
results.sarif.gz
sarif_ids.txt
sarif_split/
scan_and_upload.log
scan_and_upload.sh
semgrep-run-two.sh
